<!DOCTYPE html>
<html lang="en" ng-app="qecApp">
<head>
    <meta charset="UTF-8">
    <title>QEC-DUET</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap and custom CSS-->


    <link rel="stylesheet" type="text/css" href="./libs/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="./libs/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="./css/animation.css" />
    <link rel="stylesheet" type="text/css" href="./css/c3.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/w3.css">
    <link rel="stylesheet" type="text/css" href="libs/css/imagehover.min.css" media="all"/>

        <!--CSS End-->
</head>
<body>


<div ng-view class=""></div>


        <!--Libraries and Custom Scripts-->

<script type="text/javascript" src="./libs/js/d3.min.js"></script>
<script type="text/javascript" src="./libs/js/c3.min.js"></script>
<script type="text/javascript" src="./libs/js/angular.js"></script>
<script type="text/javascript" src="./libs/js/ng-file-upload.js"></script>
<script type="text/javascript" src="./libs/js/c3-angular.min.js"></script>
<script type="text/javascript" src="./libs/js/angular-route.js"></script>
<script type="text/javascript" src="./libs/js/angular-animate.js"></script>
<script type="text/javascript" src="./libs/js/jquery-2.2.0.js"></script>
<script type="text/javascript" src="./libs/js/bootstrap.js"></script>
<script type="text/javascript" src="./libs/js/TweenMax.min.js"></script>
<script type="text/javascript" src="./libs/js/timeLine.js"></script>

<script type="text/javascript" src="./libs/js/ui-bootstrap-0.11.0.min.js"></script>

<script type="text/javascript" src="./libs/js/preload.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


        <!--Libraries End-->

<script type="text/javascript" src="./js/app.js"></script>
<script type="text/javascript" src="./js/routes.js"></script>
<script type="text/javascript" src="./js/controllers.js"></script>
<script type="text/javascript" src="./js/directives.js"></script>
<script type="text/javascript" src="./js/factories.js"></script>
<script type="text/javascript" src="./js/animation.js"></script>
<script type="text/javascript" src="./js/service.js"></script>


        <!--Custom Scripts End-->

</body>
</html>