*{
    font-family: "Century Gothic";
}



#hodLogin,
#studentRegistration,
#studentLogin,
#hodForgot {
    margin-top: 5%;
    background-color: #4e5256;
    border-radius: 35% 0 36% 0 !important;
    opacity: 0.85;
}

#teacherRegistration{
    margin-top: 5%;
    background-color: #4e5256;
    border-radius: 35% 0% 36% 0%!important;
    opacity: 0.85;
}
#teacherRegistration img{
    width: 100%;
}

#teacherRegistration input{
    margin-bottom: -10px;
}
#teacherRegistration button{
    margin-bottom: 10px!important;
}
    
form{
    padding: 15px;
    width: 90%;
}

body{
    background-color: #222222 !important;
    color: #fdf5e6;

}

#hodLogin h2,
#studentRegistration h2,
#studentLogin h2,
#teacherRegistration h2,
#hodForgot h2{
    text-align: center;
}

#hodLogin h3,
#studentRegistration h3,
#studentLogin h3,
#teacherRegistration h3,
#hodForgot h3{
    text-align: center;
}

#hodLogin button,
#studentRegistration button,
#studentLogin button,
#teacherRegistration button,
#hodForgot button{
    background-color: #2f363c !important;
    color: #a7a9ab !important;
}

#hodLogin button a,
#studentRegistration button a,
#studentLogin button a,
#teacherRegistration button a,
#hodForgot button a{
    color: #a7a9ab !important;
    text-decoration: none;
}

#hodLogin button.btn-block a:hover,
#studentRegistration button.btn-block a:hover,
#studentLogin button.btn-block a:hover,
#hodForgot button .btn-block a:hover{
    color: #fff !important;
    text-decoration: none;
}

#hodLogin button a:focus,
#studentRegistration button a:focus,
#studentLogin button a:focus,
#teacherRegistration button a:focus,
#hodForgot button a:focus{
    background-color: #3b444c !important;
    color: #fff !important;
    text-decoration: none;
}

#hodLogin label,
#studentRegistration label,
#studentLogin label,
#teacherRegistration label,
#hodForgot label {
    text-align: center;
}

#hodLogin label a,
#studentRegistration label a,
#studentLogin label a,
#teacherRegistration label a,
#hodForgot label a{
    color: #a7a9ab !important;
    text-decoration: none;
}

#hodLogin label a:hover,
#studentRegistration label a:hover,
#studentLogin label a:hover,
#teacherRegistration label a:hover,
#hodForgot label a:hover{
    color: #fff !important;
    text-decoration: none;
}

#hodLogin label a:focus,
#studentRegistration label a:focus,
#studentLogin label a:focus,
#hodForgot label a:focus{
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1200px){
    #hodLogin,
    #studentRegistration,
    #studentLogin,
    #hodForgot{
        margin: 20% 0 !important;
    }
    #hodLogin h3,
    #studentRegistration h3,
    #studentLogin h3,
    #hodForgot h3{
        margin-top: 3% !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    #hodLogin,
    #studentRegistration,
    #studentLogin,
    #teacherRegistration,
    #hodForgot{
        width: 380px;
        margin-top: 30%!important;
    }
    #hodLogin h3,
    #studentRegistration h3,
    #hodForgot h3,
    #teacherRegistration h3,
    #hodForgot h3{
        margin-top: 3%;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    #hodLogin,
    #studentRegistration,
    #studentLogin,
    #teacherRegistration,
    #hodForgot{
        margin-top: 12% !important;
    }
}

@media (max-width: 767px) and (min-width: 500px){
    #hodLogin,
    #studentRegistration,
    #studentLogin,
    #teacherRegistration,
    #hodForgot{
        margin: 10% 0 !important;
        width: 380px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #hodLogin h3,
    #studentRegistration h3,
    #studentLogin h3,
    #teacherRegistration h3,
    #hodForgot h3{
        margin-top: 3% !important;
    }
    #hodLogin button,
    #studentRegistration button,
    #studentLogin button,
    #teacherRegistration button,
    #hodForgot button{
        height: 40px;
    }
    #hodLogin img,
    #studentRegistration img,
    #studentLogin img,
    #teacherRegistration img,
    #hodForgot img{
        overflow: scroll;
    }
}

@media (max-width: 500px){
    #hodLogin,
    #studentRegistration,
    #studentLogin,
    #teacherRegistration,
    #hodForgot
    {
        margin: 17% 0 !important;
        width: 220px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #hodLogin label a,
    #studentRegistration label a,
    #studentLogin label a,
    #teacherRegistration a,
    #hodForgot label a{
        display: block;
    }
}

footer .navbar-brand {
    color: #5DAEE6!important;
    font-weight: 900;
}

.dropdown-menu{
    background-color: #1b222a !important;
}

.dropdown-menu li a:hover{
    background-color: #339976 !important;
}

.dropdown-menu li a:focus{
    background-color: #339976 !important;
}

.list-group{
    height: 480px;
    width: 300px;
}

.list-group .img-circle{
    width: 250px;
    height: 250px;
    padding-bottom: 10px;
    margin-top: 2.5%;
    margin-left: 6%;
}

.list-group .list-group-item{
    background-color: #1b222a;
}

.list-group a{
    color: #fff !important;
}

.list-group a:hover{
    background-color: #339976 !important;
    color: #fff;
}

.list-group a:focus{
    background-color: #339976 !important;
    color: #fff;
}

#section{
    padding: 90px 15px 100px;
    text-align: center;
    font-size: 20px;
}

#section h1{
    font-size: 45px;
    color: #339976 !important;
    text-transform: uppercase;
}

#section p{
    font-size: 20px;
    padding-top: 20px;
    line-height: 1.5em;
}

#stars-default{
    padding: 20px 0px 0px;
}

.pagination{
    position: relative;
    top: 30px;
}

ul.pagination li a{
    background-color: #1b222a;
    color: #fff;
}

ul.pagination li a:hover{
    background-color: #339976;
    color: #fff;
}

ul.pagination li a:focus{
    background-color: #339976;
    color: #fff;
}


.top1{

    margin-top: -40px;
}


.slide {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    /*top: -250px;*/
    z-index: -1;
    image-rendering: auto;
}

.img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.star-rating .star {
    padding: 2px;
    padding-top: 10px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.star-rating .star.filledRed {
    color: #F00;
}

.star-rating .star.filledOrange {
    color: #E89414;
}

.star-rating .star.filledYellow {
    color: #f4e940;
}

.star-rating .star.filledGreen {
    color: #4bb600;
}

.star-rating .star.filledDarkGreen {
    color: #1a9f10;
}



.star-rating.readonly .star.filled {
    color: #666;
}

#section {
    padding-bottom: 55px;!important;
}

.line-height{
    margin: 10px 0;
}

#black{
    background: #000000;
}

.info{

    padding-top: 375px!important;
}

.c3-axis-x text, .c3-axis-y text{

    font-size:12px;
    fill: #BCB6B6;
    /*color: */

}

.c3-chart-arc text, .c3-target-tablet text{
    fill: white!important;
}


.c3-legend-item text {
    fill: white;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    margin: 0;
    display: inline-block;
    width: 80%;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
}

/*-----------------------------------------*/
.demo-3 {
    position:relative;  
    overflow:hidden;
    float:left;
    margin-right:20px;
    list-style: none;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    padding: 0px;
    margin-left: 25px;
    margin-bottom: -5px;
    margin-right: -10px;  
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h6 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:'Lato';
    font-size:16px;
    line-height:28px;
    margin:0;
    margin-left: 10px;
    color:#fff;
    text-align:left
}
.demo-3 figure figcaption {
    top:20px;
    left:20px;
    width:100%;
    height:100%;
    /*padding:29px 44px;*/
    /*padding: 100px;*/
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/*--------------------------------------------------*/


body{
    background-color: #23282d !important;
    color: #a7a9ab !important;
}

.navbar-inverse{
    background-color: #2f363c !important;
}

ul.dropdown-menu{
    background-color: #2f363c !important;
    color: #a7a9ab !important;
}

ul.dropdown-menu li a{
    background-color: #2f363c !important;
    color: #a7a9ab !important;
}

ul.dropdown-menu li.divider{
    background-color: #000 !important;
}

ul.dropdown-menu li a:hover{
    background-color: #3b444c !important;
    color: #fff !important;
}

ul.dropdown-menu li a:focus{
    background-color: #3b444c !important;
    color: #fff !important;
}

/*
#navbar ul.nav li a{
	color: #a7a9ab;
}

#navbar ul.nav li a:hover{
	color: #fff;
}

.navbar-header a{
	color: #a7a9ab !important;
}

.navbar-header a:hover{
	color: #fff !important;
}
*/

@media only screen and (max-width: 767px) {
    #panel {
        display: none;
    }
}


#panel {
    margin-top: -20px;
    background-color: #2f363c !important;
    height: 564px;
    /*border: 1px solid #000 !important;*/
    margin-left: -15px;
    padding: 0 ;
}

.list-group a img{
    margin-top: 5% !important;
    margin-left: 0 !important;
    height: 100%;
}

.list-group .list-group-item{
    background-color: #2f363c;
    border-color: #000;
}

.list-group .list-group-item.firstItem{
    margin-top: 6% !important;
}

.list-group a{
    color: #a7a9ab !important;
}

.list-group a:hover{
    background-color: #3b444c !important;
    color: #fff !important;
}

.list-group a:focus{
    background-color: #3b444c !important;
    color: #fff;
}

#section p{
    color: #099d2c;
}

ul.pagination li a{
    border-color: #000 !important;
}

ul.pagination li a{
    background-color: #2f363c;
    color: #a7a9ab;
}

ul.pagination li a:hover{
    background-color: #3b444c;
    color: #fff !important;
}

ul.pagination li a:focus{
    background-color: #3b444c;
    color: #fff;
}

footer ul.nav li a{
    color: #a7a9ab !important;
}

footer ul.nav li a:hover{
    color: #fff !important;
}

footer ul.nav li a:focus{
    color: #fff !important;
}

/*
#section{
	padding: 80px 15px 0px 15px;
	text-align: center;
	font-size: 20px;
}

#section h1{
	font-size: 45px;
	color: #a7a9ab !important;
	text-transform: uppercase;
}

#section p{
	font-size: 25px;
	padding-top: 20px;
	line-height: 1.5em;
	color: #099d2c;
}

#stars-default{
	padding: 20px 0px 0px 0px;
}

.pagination{
	position: relative;
	top: 30px;
	border-color: #ccc !important;
}
*/



@media (min-width: 1200px){
    #sidebarMenu .panel{
        width: 210px !important;
    }
    #section{
        padding: 70px 15px 0px 15px;
        text-align: center;
        font-size: 20px;
    }
    #section h1{
        font-size: 45px;
        color: #a7a9ab !important;
        text-transform: uppercase;
    }
    #section p{
        font-size: 25px;
        padding-top: 20px;
        line-height: 1.5em;
    }
    #stars-default{
        padding: 20px 0px 0px 0px;
    }
    .pagination{
        position: relative;
        top: 30px;
        border-color: #ccc !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    #sidebarMenu .panel{
        width: 190px !important;
    }
    #section{
        padding: 50px 15px 0px 15px;
        text-align: center;
        font-size: 20px;
    }
    #section h1{
        font-size: 45px;
        color: #a7a9ab !important;
        text-transform: uppercase;
    }
    #section p{
        font-size: 25px;
        padding-top: 20px;
        line-height: 1.5em;
    }
    #stars-default{
        padding: 20px 0px 0px 0px;
    }
    .pagination{
        position: relative;
        top: 30px;
        border-color: #ccc !important;
    }
}

@media (max-width: 992px){
    #sidebarMenu .panel{
        width: 180px !important;
    }
    #section{
        padding: 30px 5px 0px 5px;
        text-align: center;
        font-size: 20px;
    }
    #section h1{
        font-size: 42px;
        color: #a7a9ab !important;
        text-transform: uppercase;
    }
    #section p{
        font-size: 22px;
        padding-top: 20px;
        line-height: 1.5em;
    }
    #stars-default{
        padding: 20px 0px 0px 0px;
    }
    .pagination{
        position: relative;
        top: 30px;
        border-color: #ccc !important;
    }
}

@media (max-width: 767px) and (min-width: 500px){
    #sidebarMenu .panel{
        width: 160px !important;
    }
    #section{
        padding: 15px 0px 0px 20px !important;
        text-align: center;
        font-size: 17px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #section h1{
        font-size: 40px;
        color: #a7a9ab !important;
        text-transform: uppercase;
    }
    #section p{
        font-size: 20px;
        padding-top: 20px;
        line-height: 1.5em;
    }
    #stars-default{
        padding: 10px 0px 0px 10px !important;
    }
    .pagination{
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0px 0px 0px 20px !important;
        position: relative;
        top: 5px !important;
        border-color: #ccc !important;
    }
}
@media (max-width: 500px){
    #sidebarMenu .panel{
        width: 100px !important;
    }
    #section{
        padding: 10px 0px 0px 20px;
        text-align: center;
        font-size: 10px;
    }
    #section p{
        font-size: 20px;
        padding-left: 10px !important;
    }
    #section h1{
        font-size: 30px;
    }
    #stars-default{
        padding: 0px 0px 0px 10px;
    }
    .pagination{
        position: relative;
        top: -20px;
        padding-bottom: 5px !important;
        border-color: #ccc !important;
        padding-left: 10px !important;

    }

}