<nav class="navbar navbar-inverse navbar-top-fixed">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Quality Enhancement Cell - DUET</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" ng-controller="ratingController as rating" >
        <div class="col-md-2 col-sm-3   ">
            <div id="sidebarMenu">
                <div class="panel list-group" id="panel">
                    <a href=""><img class="img-circle img-responsive" ng-src="./imgs/uploaded/{{ teacher.ph_curname }}"></a>
                    <a href="" class="list-group-item firstItem" data-toggle="collapse" data-target="#one" data-parent="#sidebarMenu">Name</a>
                    <div id="one" class="sublinks collapse">
                        <a class="list-group-item small">{{ teacher.name }}</a> 
                    </div>
                    <a href="" class="list-group-item" data-toggle="collapse" data-target="#two" data-parent="#sidebarMenu">Department</a>
                    <div id="two" class="sublinks collapse">
                        <a class="list-group-item small">{{ teacher.department }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-md-9 col-sm-6 col-xs-12" ng-hide=" pageValue > 18 ">
            <div id="section">
                <div class="repeat-animation" ng-show="pageValue == question.QuestionNum" ng-repeat="question in questions">
                    <h1>{{ question.Name }}</h1>
                    <p>{{ question.Q }}</p>

                </div>

            <div >
                <div star-rating ng-model="ratingValue" ng-init="ratingValue = 1" on-rating-select="rating.rateFunction(rating)"></div>
                <h4 ng-show="ratingValue === 1">{{ text[0] }}</h4>
                <h4 ng-show="ratingValue === 2">{{ text[1] }}</h4>
                <h4 ng-show="ratingValue === 3">{{ text[2] }}</h4>
                <h4 ng-show="ratingValue === 4">{{ text[3] }}</h4>
                <h4 ng-show="ratingValue === 5">{{ text[4] }}</h4>

                <div id="{{ pageValue }}">
                    <div class="animated" ng-class="{'zoomOutUp': pageValue > 18}" ng-hide="pageValue === 19"><button class="btn w3-btn btn-lg w3-red w3-hover-blue-grey pull-left" id="back" ng-click="updateStars($event)" ng-disabled="pageValue == 1" >Back</button></div>
                    <div class="animated" ng-class="{'zoomOutUp': pageValue > 18}" ng-hide="pageValue === 19"><button class="btn w3-btn btn-lg w3-green w3-hover-blue-grey pull-right"  id="next" ng-click="updateStars($event)">Next</button></div>

                </div>
            </div>
            </div>
        </div>
        <div class="col-mod-9" ng-show=" pageValue > 18">
            <div id="section2">
                <h2 class="text-center line-height">Thank you for your time</h2>
            </div>
            <div class="line-height"><button class="btn center-block w3-light-green w3-hover-green" ng-click="updateDetails();">Submit & Logout</button></div>

        </div>
    </div>
</div>
</div>

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/about">404Developers</a></li>
            </ul>
        </div>
    </div>
</footer>

