<nav class="navbar navbar-inverse navbar-top-fixed">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QEC - DUET</a>
        </div>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row" ng-init="hide = 1">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-head alert alert-info text-center" ng-hide="teachers.firstRow.length > 0"><h2>Please wait while loading content...</h2></div>
                <div class="panel-body">
                    <div class="row w3-container" ng-repeat="rows in teachers" ng-cloak>
                        <div ng-repeat="teachers in rows" class="col-lg-2 col-md-6 col-sm-4 col-xs-6 portfolio-item" ng-cloak>
                                <div class="w3-card-24 w3-blue-grey line-height">
                                       <ul class="demo-3 effect">
                                           <li>
                                               <figure>
                                                    <img id="{{ teachers.name }}" name="{{ teachers.name }}" class="line-height col-lg-12 col-xs-12 animated flipInY img-responsive" ng-src="./imgs/uploaded/{{ teachers.ph_curname }}" alt="{{ teachers.name }}'s Image" style="height: 150px">
                                                <figcaption>
                                                       <p>{{ teachers.name }}</p>
                                                   </figcaption>
                                               </figure>
                                           </li>
                                       </ul>
                                        <button ng-click="logTeacher($event)" class="w3-btn-block w3-hover-border-dark-grey w3-hover-green" name="{{ teachers.name }}">Go to Questionnaire</button>
                            </div>
                        </div>
                    </div><!-- /.row -->

                </div>

            </div><!-- end of col-md-7-->

        </div><!-- end of row-->
    </div>
</div>

<!-- /.row -->


<!-- Footer -->
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/about">404 Developers</a></li>
            </ul>
        </div>
    </div>
</footer>
