<div ng-controller="sliderController as slider" >
    <div class=" img slide slide-animation" ng-if="isCurrentSlideIndex($index)" ng-show="loaded" ng-repeat="slide in slides">
        <img class="bg" ng-src="{{slide.src}}">

    </div>
</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <form novalidate id="teacherRegistration" name="teacherRegistration" role="form"
            enctype="multipart/form-data" method="POST" action="/api/teacher_reg">

            <img src="imgs/duet-up.png" class="img-responsive">
                <h3 class="text-center">Teacher Registration</h3>
                <div class="form-group has-feedback has-feedback-left"
                     ng-class="{ 'has-error' :teacherRegistration.teacherRegistrationName.$touched && teacherRegistration.teacherRegistrationName.$invalid,
                                    'has-success': teacherRegistration.teacherRegistrationName.$valid}">
                    <input type="text"
                           class="form-control"
                           id="teacherRegistrationName"
                           name="name"
                           ng-model="teacher.name"
                           placeholder="Teacher Name"
                           required
                    >
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback has-feedback-left"
                     ng-class="{ 'has-error' :teacherRegistration.teacherRegistrationEmail.$touched && teacherRegistration.teacherRegistrationEmail.$invalid,
                                    'has-success': teacherRegistration.teacherRegistrationEmail.$touched && teacherRegistration.teacherRegistrationEmail.$valid
                        }"
                >
                    <input type="text"
                           class="form-control"
                           id="teacherRegistrationEmail"
                           name="email"
                           ng-model="teacher.email"
                           placeholder="Email"
                           required
                    >
                    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback has-feedback-left"
                     ng-class="{ 'has-error' :teacherRegistration.teacherRegistrationContact.$touched && teacherRegistration.teacherRegistrationContact.$invalid,
                                    'has-success': teacherRegistration.teacherRegistrationContact.$touched && teacherRegistration.teacherRegistrationContact.$valid
                        }"
                >
                    <input type="text"
                           class="form-control"
                           id="teacherRegistrationContact"
                           name="contact"
                           ng-model="teacher.contact"
                           placeholder="Contact No."
                           ng-pattern="/^[0-9]{4}-[0-9]{7}$/"
                           required
                    >
                    <i class="glyphicon glyphicon-phone form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback has-feedback-left"
                     ng-class="{ 'has-error' :teacherRegistration.teacherRegistrationDepartment.$touched && teacherRegistration.teacherRegistrationDepartment.$invalid,
                                    'has-success': teacherRegistration.teacherRegistrationDepartment.$touched && teacherRegistration.teacherRegistrationDepartment.$valid
                        }"
                >
                    <input type="text"
                           class="form-control"
                           id="teacherRegistrationDepartment"
                           name="department"
                           ng-model="teacher.dept"
                           placeholder="Department"
                           required
                    />
                    <i class="glyphicon glyphicon-education form-control-feedback"></i>
                    
                    <input 
                    type="file"
                    style="margin: 15px 0"  
                    class="form-control" 
                    ngf-select="uploadFiles($file, $invalidFiles)" 
                    name="avatar"
                    accept="image/*" 
                    ngf-max-height="1000" ngf-max-size="1MB"   
                    placeholder="Teacher's Photo"/>
                </div>
                <p style=" margin:10px 0; border-radius: 20px; font-weight: bold; opacity=0.75;" 
                class = {{msgclass}}>{{msg}}</p>
                <button  type="submit" class="btn btn-lg btn-block" href="#/" role="button"
                        ng-disabled="teacherRegistration.$invalid"> SUBMIT </button>
                 <div style="font:smaller" ng-show="f.progress >= 0" class="text-center">File upload progress...
                   <span class="progress" ng-show="f.progress >= 0">
                    <div style="width:{{f.progress}}%"  
                    ng-bind="f.progress + '%'"></div>
                  </span>
                 </div>     
                <img src="imgs/duet-down.png" class="img-responsive">
            </form>
        </div>
    </div>
</div>


</header>

<footer class="container">
    <div class="nav navbar navbar-fixed-bottom">
        <div class="container">
            <ul class="nav">
                <li><a class="navbar-brand pull-left" href="">DUET - Quality Enhancement Cell</a></li>
                <li><a class="navbar-brand pull-right" href="#/about">404 Developers</a></li>
            </ul>
        </div>
    </div>
</footer>



